<div class="flex justify-center items-center min-h-screen bg-gray-100 p-6">
  <div class="bg-white p-6 lg:p-10 rounded-lg shadow-lg max-w-7xl w-11/12 grid grid-cols-1 sm:grid-cols-2 gap-8 xl:gap-12">
    
    <!-- Imagen del Producto (sin sombra) -->
    <div class="flex justify-center">
      <img src="{{producto?.imagenUrl}}" alt="{{producto?.nombre}}" 
        class="max-w-full h-auto sm:h-[28rem] rounded-lg object-contain">
    </div>

    <!-- Información del Producto -->
    <div class="flex flex-col justify-center">
      <h3 class="text-3xl font-bold text-gray-800 mb-6 text-center sm:text-left">Detalle del Producto</h3>
      
      <p class="text-gray-600 text-lg">
        <span class="font-semibold">Producto ID:</span> {{ productoId }}
      </p>

      <p class="text-gray-700 text-lg">
        <span class="font-semibold">Nombre:</span> {{ producto?.nombre }}
      </p>

      <p class="text-gray-700 text-lg">
        <span class="font-semibold">Descripción:</span> {{ producto?.descripcion }}
      </p>

      <!-- Precios con estilo mejorado -->
      <div class="mt-4">
        <p *ngIf="producto?.isOferta" class="text-gray-400 text-lg line-through">{{ producto?.precio | currency: 'S/.' }}</p>
        <p class="text-2xl font-bold text-cyan-600">{{ producto?.preciodescuento | currency: 'S/.' }}</p>
      </div>

      <!-- Botón para regresar a la lista de productos -->
      <button (click)="goBack()" 
        class="pointer cursor-pointer mt-6 bg-cyan-500 text-white px-6 py-3 rounded-lg text-center font-semibold hover:bg-cyan-600 hover:shadow-lg transition-all duration-300">
        Regresar
      </button>
    </div>

  </div>
</div>
